@font-face {
  font-family: Reaver;
  src: url('../../public/assets/fonts/Reaver-Regular.woff');
}
@font-face {
  font-family: Radiance;
  src: url('../../public/assets/fonts/radiance-semibold.woff');
}
