.header {
  position: absolute;
  z-index: 5;
  right: 0;
  left: 0;
  padding: 0 2em;
  font-family: Reaver;
  font-size: 1.2em;
  @include flex(row, nowrap, space-between, center, 0);
  color: $color-header;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 3.5px;
  height: 5em;
  @include responsive(735px) {
    @include flex(row, nowrap, center, center, 0);
  }
  @include responsive(400px) {
    padding: 0;
  }
  //Header Izquierdo
  &__nav {
    @include flex(row, nowrap, flex-start, center, 0);
  }
  &__logo {
    margin: 0 2.5em 0 0;
    transition: 0.4s ease;
    opacity: 0.8;
    &:hover {
      opacity: 1;
    }
    @include responsive(825px) {
      display: none;
    }
  }

  &__ul {
    @include flex(row, nowrap, flex-start, center, 1em);
    @include responsive(400px) {
      gap: 0.2em;
    }
    font-size: clamp(0.45em, 0.8vw + 0.4em, 1em);
  }
  &__li {
    position: relative;
    height: 1.8em;
    @include flex(row, nowrap, center, center, 0);
    cursor: pointer;
  }
  //Link Juego
  &__li--juego {
    padding: 1em;
    @include flex(column, nowrap, center, center, 0);
    position: relative;
    box-sizing: border-box;
    background: transparent;
    border-top-right-radius: 0.25em;
    border-top-left-radius: 0.25em;
    border: 2px solid $color-hover-link;
    transition: 0.4s ease;
  }
  &__li--juego--hover {
    color: #fff;
    border: 2px solid $color-header;
    border-bottom-color: transparent;
    backdrop-filter: blur(1em);
    background: #ffffff20;
  }
  //Hover del Link Juego
  &__juego {
    @include flex(row, nowrap, center, center, 0);
  }
  &__parches {
    position: absolute;
    bottom: -82px;
    font-size: 14px;
    font-family: Radiance;
    width: 24em;
    left: -2px;
    @include flex(column, nowrap, flex-start, flex-start, 0.5em);
    padding: 0.5em 1em;
    backdrop-filter: blur(1em);
    background: #ffffff20;
    border: 2px solid $color-header;
  }
  &__parches--link {
    transition: 0.4s ease;
    transform: translateX(0);
    &:hover {
      transform: translateX(0.5em);
      color: #fff;
    }
  }
  //Header derecho
  &__login {
    @include flex(row, nowrap, flex-start, center, 0.5em);
    font-family: Radiance;
  }
  &__container {
    color: $color-inHover;
    font-size: clamp(0.55em, 0.8vw + 0.1em, 0.7em);
    @include responsive(735px) {
      display: none;
    }
  }
  &__sesion {
    text-align: right;
  }
  &__idioma {
    cursor: pointer;
    @include flex(row, nowrap, space-evenly, center, 0.5em);
  }
  &__idioma div {
    width: 22px;
    height: 22px;
    position: relative;
  }
  &__idioma div i {
    position: absolute;
    top: -2px;
    left: 0;
  }
  &__game {
    height: 3em;
    border: 3px solid #ffffff50;
    border-radius: 0.5em;
    @include flex(row, nowrap, center, center, 0.1em);
    text-align: center;
    padding: 0.5em;
    transition: 0.5s ease;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 3px;
    @include responsive() {
      display: none;
    }
    &:hover {
      border-color: $color-underline;
      transform: translateY(-0.2em);
    }
  }
}
